In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_mldata

In [27]:
def load_mnist_data():
    from sklearn.datasets import fetch_mldata
    mnist = fetch_mldata('MNIST original')
    X,Y = mnist["data"],mnist["target"].astype(int)
    df_mnist=pd.DataFrame(X)
    df_mnist['target'] = Y
    distinct_class=pd.Series(Y).unique().astype(int)
    return df_mnist,distinct_class


def train_bernoulli_nb( label_train, data_train_bi ):

    train, priors = extract_vocabulary_and_count_docs( label_train, data_train_bi )
    print("train_bernoilli_nb")

    for i in range( 10 ):
        for j in range ( 784 ):
            train[i][j] = ( train[i][j] + 0.01 ) / ( priors[i] + 0.02 )
        priors[i] = priors[i] / len( label_train )

    return train, priors

def apply_bernoulli_nb( train, priors, test_dataset_bi ):

    results, score = extract_terms_from_dosc( test_dataset_bi )
    print("apply_bernoilli_nb")
    for i in range( len( test_dataset_bi ) ):
            for j in range( len( priors ) ):
                score[j] = np.log( priors[j] )
                for k in range( 784 ):
                    if test_dataset_bi[i][k] == 1:
                        score[j] += np.log( train[j][k] )
                    else:
                        score[j] += np.log ( 1. - train[j][k] )
            results[i] = [i+1, np.argmax( score )]
            print(i)


    return results


def  extract_terms_from_dosc (test_dataset_bi ):

    results = [[0]*2 for i in range( len( test_dataset_bi ) )]
    score = [0]*10
    return results, score

def extract_vocabulary_and_count_docs( label_train, data_train_bi ):

    train = [[0]*785 for _ in range(10)]
    priors = [0]*10
    #Count Vocabulary and Docs
    for i in range( len( label_train ) ):
        priors[label_train[i]] = priors[label_train[i]] + 1
        for j in range ( 784 ):
            train[label_train[i]][j] = train[label_train[i]][j] + data_train_bi[i][j]

    return train, priors


def read_csv_as_matrix( csv_path ):
    return pd.read_csv( csv_path ).as_matrix()

def get_label_and_data_from_train( csv_as_matrix ):

    print("get_label_and_data_from_train")
    label_train = csv_as_matrix[0:,0]
    data_train = csv_as_matrix[0:,1:]

    return label_train, data_train

def binarization( data_train ):

    print("binarization")
    return ( data_train >= 128 ).astype( int )

def export_result( results, file_name ):

    print("export_result")
    df = pd.DataFrame( data = results, columns = ['ImageId', 'Label'] )
    df.to_csv( file_name, sep = ',', index=False )

def main():
        
    mnist = fetch_mldata('MNIST original')
    X,Y = mnist["data"],mnist["target"].astype(int)
    df_mnist=pd.DataFrame(X)
    df_mnist['target'] = Y

    #train_dataset = read_csv_as_matrix( 'train.csv' )
    #test_dataset = read_csv_as_matrix( 'test.csv' )

    #label_train, data_train = get_label_and_data_from_train( train_dataset )
    
    label_train = Y[:60000]
    data_train = X[:60000]

    #train
    data_train_bi = binarization( data_train )
    train, priors = train_bernoulli_nb( label_train, data_train_bi )

    #predict
    test_dataset_bi = binarization( test_dataset )
    results = apply_bernoulli_nb( train, priors, test_dataset_bi )

    #export result
    export_result( results, "result.csv" )

In [151]:
    mnist = fetch_mldata('MNIST original')
    X,Y = mnist["data"],mnist["target"].astype(int)
    df_mnist=pd.DataFrame(X)
    df_mnist['target'] = Y
    
    label_train = Y[:60000]
    data_train = X[:60000]

In [152]:
data_train_bi = binarization( data_train )

binarization

In [155]:
train, priors = extract_vocabulary_and_count_docs( label_train, data_train_bi )

In [163]:
train, priors = train_bernoulli_nb( label_train, data_train_bi )

train_bernoilli_nb

In [168]:
np.sum(test_dataset_bi[0])

146

In [161]:
np.sum(train[0])

814737

In [164]:
for k in range(10):
    print(k,np.sum(train[k]))

0 137.55564559971094
1 60.206412914823744
2 118.23136545362385
3 112.45777048517212
4 95.94435486355745
5 102.16450778635755
6 109.09186518463946
7 90.69641278080516
8 119.61894507282491
9 97.30776497641628

In [36]:
len(results)

10000

In [89]:
label_train

array([0, 0, 0, ..., 9, 9, 9])

In [96]:
train = [[0]*785 for _ in range(10)]
k=0
for i in range( len( label_train ) ):
    if (label_train[i]) == 0:
        k+=1
        priors[label_train[i]] = priors[label_train[i]] + 1
        for j in range ( 784 ):
            train[label_train[i]][j] = train[label_train[i]][j] + data_train_bi[i][j]

In [116]:
df_X=pd.DataFrame(data_train_bi)

In [117]:
df_X['target'] = label_train

In [132]:
df_X[df_X['target'] == 0][39][202]

0

In [136]:
df_mnist.iloc[[3607]][39]

3607    128
Name: 39, dtype: uint8

In [134]:
df_X.iloc[[3607]]

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,target
3607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
for k in df_X[df_X['target'] == 0][39].index:
    if (df_X[df_X['target'] == 0][39][k] >0):
        print (k)

3607

In [145]:
data_train_bi[3607]

1

In [110]:
for k in range(len(train[0])):
    if (train[0][k] > 0):
        print (k,train[0][k])

39 1
40 1
44 1
63 1
68 1
69 2
71 1
72 1
75 1
89 2
90 1
91 1
92 3
93 4
94 11
95 31
96 52
97 71
98 89
99 106
100 106
101 87
102 62
103 55
104 40
105 16
106 6
107 3
108 1
117 1
118 4
119 10
120 30
121 77
122 153
123 293
124 546
125 903
126 1227
127 1483
128 1563
129 1425
130 1124
131 809
132 478
133 220
134 81
135 14
136 2
137 1
143 1
144 1
145 1
146 15
147 38
148 102
149 248
150 523
151 998
152 1595
153 2316
154 2975
155 3420
156 3586
157 3330
158 2793
159 2054
160 1292
161 683
162 276
163 59
164 8
165 1
172 2
173 16
174 36
175 102
176 276
177 624
178 1181
179 1939
180 2752
181 3539
182 4106
183 4474
184 4581
185 4471
186 4073
187 3272
188 2391
189 1432
190 684
191 188
192 21
193 1
200 4
201 24
202 68
203 232
204 570
205 1192
206 1996
207 2857
208 3622
209 4122
210 4389
211 4482
212 4519
213 4601
214 4510
215 4089
216 3274
217 2231
218 1239
219 456
220 67
221 4
223 1
228 4
229 37
230 149
231 457
232 1053
233 1898
234 2804
235 3561
236 4021
237 4113
238 3972
239 3750
240 3656
241 3735
242 4046
243 4172
244 3836
245 2941
246 1841
247 779
248 143
249 2
255 1
256 7
257 59
258 320
259 848
260 1635
261 2608
262 3465
263 3943
264 3961
265 3632
266 3071
267 2630
268 2348
269 2522
270 3056
271 3729
272 3912
273 3460
274 2428
275 1129
276 246
277 3
282 1
284 16
285 137
286 576
287 1327
288 2301
289 3277
290 3854
291 3951
292 3484
293 2762
294 2067
295 1507
296 1253
297 1436
298 2124
299 3064
300 3812
301 3728
302 2892
303 1511
304 367
305 6
311 1
312 32
313 268
314 912
315 1906
316 2956
317 3727
318 3970
319 3517
320 2652
321 1824
322 1093
323 705
324 595
325 837
326 1479
327 2541
328 3570
329 3833
330 3187
331 1821
332 488
333 10
334 1
339 1
340 52
341 476
342 1391
343 2522
344 3484
345 3983
346 3719
347 2840
348 1788
349 997
350 504
351 319
352 305
353 536
354 1181
355 2254
356 3332
357 3814
358 3264
359 2014
360 631
361 14
362 1
367 2
368 106
369 789
370 1904
371 3097
372 3849
373 3938
374 3220
375 2035
376 1017
377 423
378 215
379 142
380 175
381 436
382 1124
383 2182
384 3300
385 3759
386 3234
387 2067
388 689
389 24
395 1
396 164
397 1137
398 2423
399 3561
400 4041
401 3672
402 2551
403 1313
404 519
405 197
406 106
407 90
408 146
409 498
410 1277
411 2350
412 3355
413 3702
414 3107
415 1966
416 710
417 27
423 1
424 282
425 1525
426 2862
427 3846
428 4020
429 3228
430 1958
431 855
432 286
433 98
434 68
435 92
436 254
437 758
438 1611
439 2710
440 3516
441 3564
442 2867
443 1728
444 594
445 22
451 1
452 395
453 1818
454 3169
455 3986
456 3889
457 2814
458 1505
459 580
460 188
461 82
462 97
463 197
464 519
465 1246
466 2250
467 3176
468 3626
469 3351
470 2445
471 1396
472 431
473 13
479 5
480 527
481 2022
482 3330
483 4038
484 3736
485 2625
486 1313
487 514
488 206
489 152
490 256
491 544
492 1142
493 1997
494 2971
495 3585
496 3578
497 2932
498 1975
499 950
500 261
501 11
507 7
508 582
509 1999
510 3326
511 4077
512 3788
513 2727
514 1544
515 762
516 485
517 525
518 799
519 1351
520 2125
521 2955
522 3573
523 3715
524 3189
525 2325
526 1415
527 581
528 123
529 4
535 9
536 533
537 1806
538 3142
539 4033
540 4006
541 3273
542 2284
543 1530
544 1312
545 1460
546 1884
547 2497
548 3187
549 3731
550 3843
551 3363
552 2593
553 1671
554 842
555 292
556 44
557 2
561 1
563 7
564 398
565 1409
566 2725
567 3787
568 4277
569 4127
570 3564
571 3029
572 2769
573 2920
574 3235
575 3689
576 3988
577 3954
578 3424
579 2656
580 1752
581 976
582 397
583 100
584 14
586 1
591 7
592 213
593 911
594 1999
595 3182
596 4104
597 4636
598 4681
599 4510
600 4321
601 4286
602 4340
603 4328
604 4017
605 3342
606 2556
607 1683
608 949
609 417
610 118
611 29
612 3
614 1
619 4
620 69
621 429
622 1166
623 2112
624 3191
625 4082
626 4617
627 4812
628 4791
629 4653
630 4294
631 3719
632 2987
633 2130
634 1363
635 769
636 339
637 117
638 29
639 9
640 1
642 1
648 10
649 107
650 341
651 861
652 1575
653 2348
654 2983
655 3440
656 3535
657 3211
658 2692
659 2009
660 1372
661 829
662 412
663 170
664 62
665 18
666 4
667 4
668 1
676 3
677 9
678 42
679 104
680 241
681 433
682 667
683 829
684 881
685 819
686 652
687 443
688 274
689 132
690 55
691 22
692 8
693 4
694 1
695 1
707 1
708 3
709 6
710 11
711 12
712 10
713 10
714 5
715 4
716 2
717 1

In [95]:
np.sum(train[0])

814737

In [47]:
match_class = 0
for i in range(test_Y.shape[0]):
    if (test_Y[i] == results[i][1]):
        match_class += 1
print ("Match {}%".format(match_class/test_Y.shape[0]))

Match 0.8441%

In [170]:
test_dataset_bi[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [177]:
len([test_dataset_bi[0]])

1

In [173]:
len( test_dataset_bi )

10000

In [180]:
results, score = extract_terms_from_dosc( [test_dataset_bi[0]] )

In [182]:
score

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [186]:
    for i in range( len( [test_dataset_bi[0]] ) ):
            for j in range( len( priors ) ):
                score[j] = np.log( priors[j] )
                print ("1st Score:{}".format(np.log( priors[j] )))
                for k in range( 784 ):
                    if test_dataset_bi[i][k] == 1:
                        score[j] += np.log( train[j][k] )
                    else:
                        score[j] += np.log ( 1. - train[j][k] )
            results[i] = [i+1, np.argmax( score )]

1st Score:-2.315501484927273
1st Score:-2.185987945410232
1st Score:-2.3096097079310103
1st Score:-2.28098669344155
1st Score:-2.3292713582565514
1st Score:-2.4040642619438994
1st Score:-2.3163460082440825
1st Score:-2.2593659738740692
1st Score:-2.3277319754160017
1st Score:-2.3111214240163322

In [184]:
score

[-164.0697847334753,
 -541.0151946192461,
 -265.64044539560155,
 -269.93792820737264,
 -288.0041015773926,
 -239.53186236372906,
 -220.47289355173845,
 -306.3917606433365,
 -267.51265180329654,
 -287.12953767603346]

In [185]:
results

[[1, 0]]